*{
    margin: 0;
    padding: 0;
}
.pd20{
    padding: 20px;
}
.mgb20{margin-bottom: 20px;}
.bor{border: 1px solid #ccc;text-align: center;}
.ivu-row-flex:last-child .bor{border-bottom: 1px solid #ccc;}
.hei74{height: 74px;line-height: 74px}
.mgt20{margin-top: 20px;}
.txt-center{text-align: center;}
.mgl10{margin-left: 10px;}
.flexCls-align{display:flex;align-items: center;}
.disib{display: inline-block;margin-left: 200px;}
.flexCls-1{flex: 1}
.titleP{text-align: center;flex: 1;color: #999;font-size: 28px;}